/* ========================================= 
VARIABLES FONTS / COLORS
=========================================== */
:root {
/* FONTS */
--bodyFont: 'Poppins', sans-serif;

/* PRIMARY COLORS */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);

/* NEUTRAL COLORS */
--very_dark_blue: hsl(234, 12%, 34%);
--grayish_blue: hsl(229, 6%, 66%);
--very_light_gray: hsl(0, 0%, 98%);
}

/* ========================================= 
BOX-SIZING / FONT SIZE
=========================================== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

/* ================================================
GLOBAL
================================================ */
body {
    font-family: var(--bodyFont);
    font-size: 1.5rem;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 80%;
}
h1, h2, h3{
    color: var(--very_dark_blue);
}

/* ================================================
HEADER
================================================ */
.site-header {
    margin-top: 5rem;
    text-align: center;
}
.site-header h1 {
    font-weight: 200;
    font-size: 2.5rem;
}
.site-header h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin:0;
    padding: 0 0 2rem 0;
}
.site-header p {
    margin: 0 0 4rem;
    color: var(--grayish_blue);
    word-spacing: .3rem;
    line-height: 2.5rem;
}

/* ================================================
CARDS
================================================ */
.cards-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    margin: 3rem auto;
}
.card {
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    box-shadow: 0 1px 1rem grey;
    max-width: 350px;
    height: 270px;
    display: flex;
    flex-direction: column;
}
.card:nth-child(1) {
    border-top: 1rem solid var(--cyan);
    justify-self: center;
}
.card:nth-child(2) {
    border-top: 1rem solid var(--red);
    justify-self: center;
}
.card:nth-child(3) {
    border-top: 1rem solid var(--orange);
    justify-self: center;
}
.card:nth-child(4) {
    border-top: 1rem solid var(--blue);
    justify-self: center;
}
.card-title {
    margin: 0;
    font-size: 2rem;
    flex: 1;
}
.card-txt {
    color: var(--grayish_blue);
    word-spacing: .2rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 1rem;
    flex: 1;
}
.card-image {
    display: flex;
    justify-content: flex-end;
}

/* ================================================
FOOTER
================================================ */
.attribution { 
    font-size: 11px; 
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
